.footer {
  width: 100%;

  bottom: 0;
  left: 0;
  background: #000;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  z-index: 999;
}

.footer-text {
  color: white;
  font-size: 14px;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.icon:hover {
  color: #1b9aaa;
  transform: scale(1.2);
}

.regresar {
  background-color: #1b9aaa;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
}

.regresar:hover {
 background: #80ed99;
  box-shadow: #00fb3b 0px 2px 15px;
  transform: scale(1.05);
}
